@{
    ViewBag.Title = "Match Details";
}

@using (Html.BeginForm("AddMatchDetails", "Football", FormMethod.Post))
{
    <div class="container">
        <div class="form-group">
            @Html.TextBoxFor(x=>x.)
        </div>
    </div>
}